<?xml version="1.0"?>

<robot name="tumbler">
  
  <link name="tumbler_cover_2">
    
    <contact>
      <restitution value="1.0e-8" />
      <!-- <lateral_friction value="1.0e+8"/> -->
      <!-- <rolling_friction value="1.0e+8"/> 
      <spinning_friction value="1.0e+8"/>  -->
      <contact_cfm value="0.00001"/>
      <contact_erp value="0.2"/>
    </contact>

    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>

    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="mesh/water_cap_2.dae" />
      </geometry>
      <material name="green">
	      <color rgba="1.0 .0 .0 1.0"/>
      </material>
    </visual>
    
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="mesh/water_cap_2.dae" />
      </geometry>
    </collision>

  </link>

</robot>
